// **************** COLORS **************** 
// $color-primary:           #0000FF;           
$color-primary:            #FF0000;            
$color-primary-light:      #ff6666;          
$color-primary-dark:       #800000;  


$color-secondary-light:      #30B8DD;  
$color-secondary-dark:       #25B397;  

$color-tertiary-light:      #ff980f;  
$color-tertiary-dark:       #ff5c0f; 

$color-quaternary-light:    #FFFFE0;
$color-quaternary:          #FFFF00;
$color-quaternary-dark:     #ffdd42;

$color-quinary-light:       #488AC7;
$color-quinary-dark:        #1F45FC;
//senary, septenary, octonary, nonary, and denary, 

$color-grey-light-1:            f7f7f7;
$color-grey-light-2:            f7f7f7;

$color-text-dark:  #333;             
$color-grey-dark:  #777;
$color-white:      #fff;
$color-background: #fff;
$color-black:      #000;


// **************** FONTS **************** 
$default-font-size: 1em;




// **************** FS-GRID **************** 

$grid-width: 71.25rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 3.75rem;
// $gutter-vertical: 80px;
// $gutter-horizontal: 60px;