.fs-center-text {
    text-align: center;

}


.fs-margin-bottom-lg {
    margin-bottom: 5em;
}
.fs-margin-bottom-md{
    margin-bottom: 2.5em;
}

.fs-margin-bottom-sm {
    margin-bottom: 1em;
}

.fs-margin-top-lg {
    margin-top: 5em;
}
.fs-margin-top-md{
    margin-top: 2.5em;
}

.fs-margin-top-sm {
    margin-top: 1em;
}
